{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy}}

  <input class='btn btn-primary' type='submit' value='Speichern' />
</form>

<script type="text/javascript">
    $(function () {
        $('#id_Vertragsstart').datetimepicker({locale:moment.locale('de'),
                                              sideBySide:true,
                                              format: 'MM/DD/YY',
                                              
                                              
    });
        $('#id_Vertragsende').datetimepicker({locale:moment.locale('de'),
                                              sideBySide:true,
                                              format: 'MM/DD/YY',
                                              useCurrent:true,
                                              
                                              

    });
    });

</script>  

{% endblock %}
