{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hiwi Zeiterfassung</title>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- ... -->
  <script type="text/javascript" src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
<script type="text/javascript" src="/static/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/static/bower_components/moment/moment-with-locale.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<script src="/static/bower_components/jquery-circle/dist/circle-progress.js"></script>
</head>
<body>
{% include 'navbar.html' %}

<!-- <div class="container">
  <div class="jumbotron">
    <h1>Ift Hiwi Zeiterfassung</h1>
    <p>Herzlich Wilkommen!!!</p> 
  </div>
 
</div> -->

<div class="container">
  

            

          <div class='row'>

              
                  {% block content %}

                  {% endblock %}
              
          </div>
              
              
</div> <!-- /container --> 

</body>
</html>
