<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="ift_logo" src="/static/images/ift_logo_orginal.jpg" height="25">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-left">
     <li><a href="{% url 'home' %}">Home</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
     
    {% if request.user.is_authenticated %}
    {% now "m" as current_month %}
    <li><a href="{% url 'status' current_month %}">Status</a></li>

    <li><a href="{% url 'stundenkonto' current_month %}">Stundenkonto</a></li>
    <li><a href="{% url 'auth_logout' %}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'registration_register' %}">Registrierung</a></li>
    {% endif %}
    
    {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
    <form class='navbar-form navbar-right' method='POST' action='{% url "auth_login" %}'>{% csrf_token %}
      <div class='form-group'>
        <div class="input-group">
          <div class="input-group-addon"><span class = "glyphicon glyphicon-user"></span></div>
          <input type='text' class='form-control' name='username' placeholder='Benutzername' /> 
        </div>
      </div>
      <div class='form-group'> 
        <div class="input-group">
          <div class="input-group-addon"><span class = "glyphicon glyphicon-lock"></span></div>
          <input type='password' class='form-control' name='password' placeholder='Passwort' />
        </div>
      </div>
      <button type='submit' class='btn btn-primary'>Login</button>
    </form>
    {% endif %}
  </ul>
</nav>