{% extends "base.html" %}
{% load crispy_forms_tags %}








{% block content %}
<h1> Stundenkonto für {{monat}}</h1>
<div class="container-fluid">
<div class="row">
	<div class="center">
  		<div class="col-md-3"><h2>Tätigkeitsbeschreibung</h2></div>
  		<div class="col-md-3"><h2>Datum</h2></div>
  		<div class="col-md-3"><h2>Beginn</h2></div>
  		<div class="col-md-3"><h2>Ende</h2></div>
  	</div>
  </div>
{% for eintrag in zt %}
  <div class="row">
  	<div class="center">
  		<div class="col-md-3">{{ eintrag.beschreibung }}</div>
  		<div class="col-md-3">{{ eintrag.start|date:"d.m.Y"}}</div>
  		<div class="col-md-3">{{ eintrag.start|date:"H:i"}}</div>
  		<div class="col-md-3">{{ eintrag.ende|date:"H:i"}} <a href ="/accounts/profile/zeiterfassung/{{eintrag.id}}">test</a></div>
  	</div>
  </div>




{% endfor %}
</div>
{% endblock %}